pkgbase = create_ap-gui-git
	pkgdesc = Gui application for easy creating access points
	pkgver = 1
	pkgrel = 1
	url = https://github.com/p-eli/create_ap-gui
	arch = any
	license = GPL
	makedepends = git
	depends = python
	depends = create_ap
	depends = net-tools
	optdepends = 
	source = create_ap-gui-git:git+https://github.com/p-eli/create_ap-gui.git
	sha256sums = SKIP

pkgname = create_ap-gui-git
